<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Information</h1>
    <div class="main">
    <div class="content">
        <p><span>Name:</span> <%=name%></p>
        <p><span>Email:</span> <%=email%></p>
        <p><span>Phone-no:</span> <%=phoneno%></p>
        <button><a href="/">Go Back</a></button>
    </div>
    </div>
</body>
</html>