<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            background-color: pink;
        }
        .main{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 80px;
        }

        p{
            padding: 20px;
            background-color: transparent;
            color: white;
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .content{
            width: 800px;
            height: 400px;
            background-color: rgb(25, 20, 75);
            box-shadow : 0px 0px 20px 0px #000;
            padding: 60px;
        }

        h5,h3{
            background: transparent;
            color: white;
        }
    </style>
</head>
<body>
    <div class="main">
    <div class="content">
        <p>Registration Successful !.</p>
        <p>Thank You for Registering. Your Accout has been Created Successfully</p>

        <h5>Reminder:</h5><h3>Don't Forget your Password</h3>
    </div>
    </div>
</body>
</html>